<section class="about-us">
    <div class="container">
        <div class="style-about">
            <p>about us</p>
            <h1 class="about-us-heading"><span>Learn</span> Tomorrow’s skills,
                 <span>today</span></h1>
        <div class="about-us-detail">
                <p class="mt-2-mb-4">
                    E-education mission is to create new possibilities for people and organizations everywhere by connecting them to the knowledge and skills they need to succeed in a changing world.
                </p>
                    Fueled by the E-education marketplace, E-education Business helps companies achieve critical business outcomes and stay competitive by offering fresh, relevant, and personalized on-demand learning. The E-education Business subscription is a curation of top-rated courses taught by real-world experts from the E-education marketplace. Our content covers key business and technical topics ranging from development and IT to leadership, marketing, design, stress management, and much more. In addition to a curated content collection, we offer a platform to drive effective learning as well as tools for leaders to host and distribute their own proprietary content.    
         </div>
         <button class="btn btn-dark btn-lg">Enroll Now</button>
        </div>
    </div>
</section>
