<body>
    <header>  
        <h3 href="#">All Course</h3>
        <form id="form">
          <input type="text" (keyup)="onKey($event)" class="search" placeholder="Enter Title or Author">
          <button class="button" id="btn-primary" (click)="getCourses()" type="button">search</button>
        </form>
    </header>
        <main id="main">  
            <div class="book" *ngFor="let book of Books">
                <img src="{{ book?.volumeInfo?.imageLinks?.thumbnail }}">
                <div class="book-info">
                    <h2>{{ book?.volumeInfo?.title}}</h2>
                </div>
                <div class="description">
                    <h2>Description</h2>
                    {{book?.volumeInfo?.description}}
               </div>
            </div>
        </main>
        <div class="load">
            <button class="prev" id="prev">Go back</button>
            <button class="next" (click)="nextCourse()">Load More </button>
        </div>
        <div class="loading">
          <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
          </div>
        </div>
</body>
