<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#">e-education</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link mx-2 " routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="Courses">Courses</a>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="Join-Now">Join Now</a>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="About">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <p>Designed with love by <a href="https://www.github.com/Daniel-Ibisagba">Daniel4short</a></p>
</footer>